@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Bold.otf);
}

.font-Alpino {
  font-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Ranade";
  src: url(../fonts/Ranade-Regular.otf);
}
a,
p,
button,
span,
li,
ul,
input,
nav {
  font-family: "Ranade", sans-serif;
}

.font-Alpino {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3 {
  font-family: Satoshi;
}
